body {
	background-color: #124494;
}
.App {
	display: flex;
	flex-direction: column;
}
.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: max-content;
	/* justify-content: end; */
	/* background-color: #fff; */
	/* flex-direction: column; */
	/* padding: 10px; */
	/* margin: 10px; */
}
.movie_card {
	margin-top: 5px;
	/* border: 2px solid rgba(0, 0, 0, 0.534); */
	padding: 2px;
	background-color: #3175e0;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	/* border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px; */
	overflow: hidden;
	border-radius: 2px;
}
.notFound {
	color: white;
	padding-left: 50px;
}
.err {
	padding-left: 40%;
	height: 400px;
	width: 350px;
}
.Appbody {
	margin-top: 80px;
}
