.movie_card {
	position: relative;
	margin: 10px 1px;
	/* overflow-y: hidden; */
}

img {
	width: 270px;
	height: 350px;
	object-fit: fill;
}

.title {
	font-family: Hack, monospace;
	font-weight: 500;
	font-size: 20px;
	overflow-x: hidden;
	padding-top: 5px;
	color: rgb(255, 255, 255);
	width: 270px;
	height: 35px;
	text-align: center;
}
.rating_text {
	font-family: Hack, monospace;
	font-weight: 600;
	padding: 0px 7px;
	margin-left: auto;
	margin-right: 10px;
}
.rating {
	display: flex;
	align-items: center;
	padding: 5px 5px;
}
.overview {
	position: absolute;
	left: 0;
	right: 0;
	/* bottom: 97px; */
	bottom: 85px;
	background-color: rgba(255, 255, 255, 0.76);
	color: rgb(0, 0, 0);
	font-weight: 700;
	font-family: monospace;
	font-size: larger;
	padding: 20px;
	margin: 2px;
	max-height: 250px;
	overflow-y: auto;
	transform: translateY(500%);
	transition: transform ease-in-out 0.3s;
}
.movie_card:hover .overview {
	transform: translateY(0%);
}
.rating_text.green {
	background-color: rgb(42, 255, 42);
}
.rating_text.orange {
	background-color: rgb(255, 166, 0);
}
.rating_text.red {
	background-color: red;
}
.overview p {
	font-size: 25px;
}
.overview p .genres {
	color: rgba(34, 4, 143, 0.932);
	font-size: 15px;
}

/* SCROLL BAR */
#scroll::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #f5f5f500;
}

#scroll::-webkit-scrollbar {
	width: 5px;
	background-color: #f5f5f500;
}

#scroll::-webkit-scrollbar-thumb {
	background-color: #0000005e;
	/* border: 2px solid #555555; */
}
